sched/lib/libsched.a
sched/build/*
examples/atmega328p/build/*
examples/samd21/build/*
version_builder/vbuild
version_builder/build/*
.DS_Store
examples/samd21/rtssamd.bin
examples/samd21/rtssamd.hex
examples/samd21/rtssamd.s
